.mainPage-body {
    
    background-color: black;
    text-align: center;
    font-style:italic;
    
}

.mainPage-font{
    color:white;
    font-family: 'Times New Roman', Times, serif;

}

.mainPage-font2{
    color:white;
    font-family: 'Times New Roman', Times, serif;
}